---
import Layout from '../layouts/Layout.astro';
const title = "🚀 Jitan Gupta | Migration Specialist & Full-Stack Engineer | Legacy to Cloud";
const description = "Jitan Gupta is a Migration Specialist & Full-Stack Engineer with expertise in modernizing legacy systems, cloud migrations, and identity transitions. He helps businesses reduce tech debt, improve scalability, and future-proof their applications. Let’s build something great together!";
---
<Layout	title={title} description={description}>
	<section class="bg-gray-100 mx-2">
		<div class="bg-white max-w-screen-xl mx-auto px-6 py-12 rounded-b-2xl">
			<div class="flex flex-col md:flex-row items-center md:space-x-8">
				<img src="/jitan-bg.png" alt="Jitan Gupta" class="h-[280px] md:h-[380px]">
				<div class="mt-6 mb-6 md:mt-0">
					<h1 class="text-3xl font-bold text-gray-900">Hey, I’m <span class="theme-t-green">Jitan Gupta</span> 👋</h1>
					<p class="mt-4 text-gray-700">
						I'm a <span class="font-semibold">Migration Specialist</span> and <span class="font-semibold">Full-Stack Engineer</span>. I have over 9 years of experience with Microsoft technologies. I specialize in <span class="font-semibold">cloud migrations</span> and <span class="font-semibold">scalable enterprise solutions</span>.
					</p>
					<p class="mt-4 text-gray-700">
						I focus on updating old systems. I lead important application and identity migrations. I also ensure smooth shifts to .NET Core, cloud platforms, and centralized authentication systems.
					</p>
					
				</div>
			</div>
			<div class="w-full h-[2px] bg-gradient-to-r from-transparent via-gray-300 to-transparent my-8"></div>
			<!-- Expertise Section -->
			<div class="max-w-4xl mx-auto p-6">
				<h2 class="text-2xl font-bold text-gray-900 mb-4">💡 How I Add Value</h2>
				<ul class="space-y-3 text-lg text-gray-700">
				 <li class="list-tick">Migrated legacy systems to modern, cloud-based architectures, reducing <span class="font-semibold">tech debt</span> and <span>operational costs</span>.</li>
				 <li class="list-tick">Built <span class="font-semibold">high-performance applications</span>, ensuring <span class="font-semibold">scalability</span>, <span class="font-semibold">security</span>, and seamless user experiences.</li>
				 <li class="list-tick">Led <span class="font-semibold">multi-functional teams</span>, managing engineers, driving POCs, and implementing best practices.</li>
				</ul>
			</div>
			
			  <!-- Closing Statement -->
			  <div class="w-full h-[2px] bg-gradient-to-r from-transparent via-gray-300 to-transparent my-8"></div>
			  <div class="max-w-4xl mx-auto mt-6 text-lg text-gray-700 text-center">
				<p>
					Software migration is more than just using new technology or cutting tech debt. It helps businesses reach more customers, improve product usability, and boost growth. If that’s what you’re here for, let’s build something great together!
				</p>
			  </div>
		</div>		
	</section>
</Layout>
