---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_URL } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<nav class="bg-gray-100 mt-2 md:mt-4 md:mx-2 sm:mx-2">
			<div class="bg-white max-w-screen-xl rounded-t-2xl flex flex-wrap items-center justify-between mx-auto px-15 py-5">
				<a href={SITE_URL} class="flex items-center space-x-3 rtl:space-x-reverse">
					<img src="/jitan-gupta-logo.png" alt="Jitan Gupta" class="w-50 pt-0 md:w-40" />
				</a>
				<button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
					</svg>
				</button>
				<div class="hidden w-full md:block md:w-auto" id="navbar-default">
					<ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
						<li>
							<a href="/articles" class="block py-1 px-3 text-gray-800 rounded-sm hover:underline">Articles</a>
						</li>
						<li>
							<button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-1 px-3 text-gray-800 rounded-sm hover:underline">
								Free Resources 
								<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
								</svg>
							</button>
							<!-- Dropdown menu -->
							<div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
								<ul class="py-2 text-sm text-gray-700 dark:text-gray-600" aria-labelledby="dropdownLargeButton">
								  <li>
									<a href="#" class="block px-4 py-2 hover:bg-gray-100">Get site theme</a>
								  </li>
								  <!-- <li>
									<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
								  </li>
								  <li>
									<a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
								  </li> -->
								</ul>
								<!-- <div class="py-1">
								  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
								</div> -->
							</div>
						</li>
						<li>
							<button type="button" class="text-gray-900 bg-orange-300 cursor-pointer rounded-4xl text-sm px-7 py-2">Join Subscriber list</button>
						</li>
					</ul>
				</div>				
			</div>
		</nav>

		
						<!-- <li>
							<a href="https://www.linkedin.com/in/jitangupta/" class="block py-1 px-3 text-gray-800 rounded-sm hover:underline">LinkedIn</a>
						</li>
						<li>
							<a href="https://github.com/jitangupta" class="block py-1 px-3 text-gray-800 rounded-sm hover:underline">GitHub</a>
						</li> -->
  
		<section class="bg-gray-100">
			<div class="grid bg-white max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 rounded-b-2xl">
				<div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
					<img src="/jitan-bg.png" class="px-15" alt="jitan-gupta">
				</div>  
				<div class="mr-auto place-self-center lg:col-span-7">
					<h3 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl">Hey <span class="has-double-underline">Friends!</span></h3>
					<p class="max-w-2xl mb-6 font-light text-gray-700 lg:mb-8 md:text-lg lg:text-xl">I’m Jitan. I’m a Full-Stack Engineer turned Mentor, Content Creator, and Architect, helping developers build scalable software and grow in their careers.</p>
					<a href="/articles" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100">
						Read Articles
					</a> 
				</div>             
			</div>
		</section>

		

		<Footer />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	</body>
</html>
