---

---

<section class="bg-gray-100 py-10 px-6 text-center">
    <div class="max-w-screen-xl mx-auto bg-white rounded-2xl p-10">
      <div class="flex justify-center sm:w-full sm:mt-4 lg:mt-0 lg:col-span-5 lg:flex">
        <img src="/jitan-bg.png" class="w-40 px-4 mb-7" alt="jitan-gupta">
      </div>  
      <h2 class="text-3xl font-bold text-gray-900">🚀 Jitan Gupta | Enterprise Migration Expert</h2>
      <p class="text-gray-700 mt-4">I help businesses modernize outdated systems by migrating them to scalable, cloud-native architectures—reducing technical debt and unlocking efficiency.</p>
      <p class="text-gray-700">With 9+ years in software, I specialize in cloud migrations, architecture modernization, and secure, scalable solutions.</p>
      <p class="text-gray-700 mb-4">Let’s future-proof your infrastructure. Book a free strategy call today.</p>
      <a href="/enterprise-migration-consultation" class="theme-button-teal text-white px-6 py-3 rounded-lg shadow-md bg-secondary-600 transition">Get a Free Strategy Call</a>
      <!-- <a href="/how-to-migrate-legacy-system" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 ml-2">
        See My Approach
      </a>  -->
    </div>
</section>
  