---
const today = new Date();
---
<footer class="bg-white">
    <div class="mx-auto w-full max-w-screen-xl px-6 py-6">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="https://jitangupta.com/" class="flex items-center mb-3">
                  <img src="/jitan-gupta-logo.png" class="h-15 md:h-19 me-3" alt="Jitan Gupta" />
              </a>
              <p class="text-gray-600 text-sm font-medium">Building systems. Teaching engineers.</p>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 text-sm">
              <div>
                  <h2 class="mb-6 font-semibold text-gray-900 uppercase">More</h2>
                  <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="https://www.youtube.com/@jitangupta" target="_blank" class="hover:underline">Learn (YouTube)</a>
                        </li>
                        <li class="mb-4">
                            <a href="/case-studies" class="hover:underline">Case Studies</a>
                        </li>
                        <li class="mb-4">
                            <a href="/article" class="hover:underline">Articles</a>
                        </li>
                        <li class="mb-4">
                            <a href="/about" class="hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="/contact" class="hover:underline">Contact</a>
                        </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Follow me</h2>
                  <ul class="text-gray-500 font-medium">
                        <li class="mb-4">
                            <a href="https://www.youtube.com/@jitangupta" target="_blank" class="hover:underline ">YouTube <span class="text-xs">🇮🇳 Hinglish</span></a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.linkedin.com/in/jitangupta/" target="_blank" class="hover:underline">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://github.com/jitangupta" target="_blank" class="hover:underline ">Github</a>
                        </li>
                  </ul>
              </div>
              <div class="hidden sm:block">
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Special thanks to</h2>
                  <ul class="text-gray-500 font-medium">
                      <li class="mb-4">
						  <a href="https://astro.build/" target="_blank" class="hover:underline">Astro</a>
                      </li>
                      <li class="mb-4">
						  <a href="https://tailwindcss.com/" target="_blank" class="hover:underline">Tailwind CSS</a>
                      </li>
					  <li>
						  <a href="https://flowbite.com/" target="_blank" class="hover:underline">Flowbite</a>
					  </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
      <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between text-center sm:text-left">
        <span class="text-sm text-gray-500">&copy; {today.getFullYear()} Jitan Gupta. All rights reserved.</span>
        <div class="flex justify-center sm:justify-end mt-4 sm:mt-0 text-sm text-gray-500">
            <a href="/privacy-policy" class="mr-1.5 hover:underline">Privacy Policy</a>/
            <a href="/terms-of-use" class="ml-1.5 hover:underline">Terms &amp; Conditions</a>
        </div>
    </div>
    </div>
</footer>
<style>
	footer {
		padding: 2em 1em 0em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
	}
</style>
