---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";

// const title = "Jitan Gupta";
// const description = "Jitan Gupta is a full-stack engineer turned an entrepreneur.";
const { title, description, pubDate, updatedDate, heroImage, pageTheme } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />		
	</head>
	<body>
		<Header pageTheme={pageTheme} />

		<slot />

		<Footer />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	</body>
</html>
