---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";

const title = "Jitan Gupta";
const description = "Jitan Gupta is a full-stack engineer turned an entrepreneur.";
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />		
	</head>

	<body>
		
		<Footer />
	</body>
</html>
